@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body{
    font-family: "Roboto",sans-serif
}

.style-1{
    color:rgb(136, 35, 35);
    text-decoration: underline;
}
.style-2{
    color:rgb(151, 151, 37);
    text-decoration: underline;
}
.wiki{
  font-size: 1.5rem;

 }
 .wiki2{
     text-align: center;
 }